/* html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */




:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}



body {
    font-family: Roboto, sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    font-size: 16px;

}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;



    outline: 2px solid red;
    outline-offset: 2px;
}


/* Reset */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.list {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}

.item {
    list-style: none;
    list-style-image: none;

}

.link {
    text-decoration: none;

}

.team-item {
    list-style: none;
    list-style-image: none;
    background-color: var(--color-white);
}

img {
    display: block;
}

button{
    cursor: pointer;
}

/* index.html */

.page-header{
    border-bottom: 1px solid var(--color-cornflower);
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

.header-nav-list {
    display: flex;
    align-items: center;
}

.contacts-list {
    display: flex;
    align-items: center;

}


.logo{
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;  
    margin-right: 76px;
    text-transform: uppercase;
    color: var(--color-iris);
}



.logo-dark{
    color: var(--color-navy-blue);
}

.logo-light{
    color: var(--color-cloud);
}

.header-nav{
    margin-right: auto;

}

.header-nav-item{
    /* margin-right: auto; */
}

.header-nav-link{
    display: block;
    font-weight: 500;
    line-height: 1.5;
    list-style: inherit;
    color: var(--color-navy-blue);
    margin-right: 40px;
}

.header-nav-link:hover,
.header-nav-link:focus{
    color: var(--color-ocean);
}

.header-contacts{
    font-style: normal;
    display: block;
    align-items: center;
    
}

/* .contacts-list{
    margin-right: 40px;
} */

.contacts-item:nth-child(1){
    margin-right: 40px;

}

.contacts-link {
    line-height: 1.5;
    color: var(--color-slate);

}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-ocean);
}

.text-style-header-item {
    /* header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    
}

.text-style-subtitle{
    /* Header 2 */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-navy-blue);
}





.hero-section{
    background-color: var(--color-navy-blue); ;
}

.team-section{
    background-color: var(--color-cloud);
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
}

.hero-sect-btn{
    background: var(--color-iris);
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    /* cursor: pointer; */

}

.hero-sect-btn:hover,
.hero-sect-btn:focus{
    background-color: var(--color-ocean);
}


.content{
    line-height: 1.5;
    color: var(--color-slate);
}

.light-content{
    color: var(--color-cloud);

}

.page-footer{
    background-color: var(--color-navy-blue);
}

/* portfolio */

.filters-btn{
    list-style: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    /* cursor: pointer; */
}

.filters-btn:hover,
.filters-btn:focus{
    color: var(--color-white);
    background-color: var(--color-ocean);
}
